@import"../Parciales/Generales";
@import"../Parciales/index";
@import"../Parciales/Servicios";
@import"../Parciales/galeria";
@import"../Parciales/adn";
@import"../Parciales/contacto";
@import"../Parciales/media-queries";