@import "./media-queries";

/*------sección index------*/
.navbar-light .navbar-toggler-icon {
    background-image: url(https://th.bing.com/th/id/OIP.mcRBPQNgjpICYSCV2BRK2wHaHa?pid=ImgDet&w=400&h=400&rs=1);
}
.nav-item{
    @include portatil-2{
        padding: 0rem 5rem;
    }
    @include portatil-1{
        padding: 0rem 3rem;
    }
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
padding-right: 0%;
padding-left: 0%;
}
.col-md-12{
    padding: 0%;
}
h1.index{
    width: 70%;
    z-index: 1;
    position: absolute;
    margin-top: 400px;
    margin-left: 100px;
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    color: rgb(255, 239, 239);
    @include portatil-2{
        margin-top: 600px;
        font-size: 40px;
        margin-left: 26px;
    }
    @include portatil-1{
        margin-top: 600px;
        font-size: 30px;
        margin-left: 26px;
    }
    @include tablet{
        margin-top: 500px;
        font-size: 30px;
        margin-left: 26px;
    }
    @include celular{
        margin-top: 400px;
        font-size: 15px;
        margin-left: 26px;
    }   
}
/*------carousel index------*/

.img-index{
    
    height: 45rem;
    width: 100%;
    @include tablet{
        height: 650px;
        width: 100%;
    }
    @include celular{
        height: 100%;
        width: 100%;
    } 
}
.carousel-item{
    @include celular{
        height: 25rem;
        width: 100%;
    }
}
